/******* RESET CSS *******/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "roboto", sans-serif;
  color: #464646;
  background-color: #fcf8f2;
}

#main {
  max-width: 128rem;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 15.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3,
h4 {
  font-size: 2rem;
}

.projet {
  position: fixed;
  font-size: 1.8rem;
  color: #bb0000;
  font-weight: bold;
  margin-top: 2rem;
}

.connexion a,
.detail p,
.btn-panier {
  font-size: 1rem;
}

#login-form label,
#form-cate label,
#cate-form label,
.dscpt,
.verte,
.card-footer .dscpt,
.size,
.bonjour,
.p-description,
.create,
.retour {
  font-size: 1.2rem;
}

.inscription,
.titre,
.copyright {
  font-size: 1.3rem;
}

.card-footer p,
.box-ingredients,
.messages,
.pagination,
.navCompte,
.btn-restart,
.btn-form,
.list-square,
.manger,
.recipeInfo {
  font-size: 1.4rem;
}

#form,
.compte,
.btn-login,
.menu,
.page-rsel,
.infoUser,
.panier,
.panShop,
.nav-admin,
.btn-category,
.fp2,
.qsn,
body {
  font-size: 1.6rem;
}

.intro,
.btnshow,
.col-4 h3 {
  font-size: 1.8rem;
}

.connexion i,
.rotate,
.fp1 p {
  font-size: 2rem;
}

#form_recherche,
.chefe {
  font-size: 2.5rem;
}

#scroll_to_top i,
.navbar,
.h1catadmin {
  font-size: 3rem;
}


/******** CONTAINER *******/

.container {
  width: 128rem;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageOff {
  margin-top: 17rem;
  margin-bottom: 6rem;
}

/******** FIN CONTAINER *******/

.return {
  text-align: left;
}

/******* MESSAGE FLASH *******/

.messages {
  width: 100%;
}

.alert-success {
  width: 100%;
  background-color: rgb(61, 146, 43, 0.2);
  color: #3D922B;
}

.alert-danger {
  background-color: rgb(255, 0, 0, 0.1);
  color: red;
  padding-left: 0.5rem;
}

.invalid-feedback {
  color: red;
}

.alert-success,
.alert-danger {
  margin-bottom: 2rem;
  height: 4rem;
  padding-top: 1rem;
  border-radius: 5px;
}

#description .alertBoutique {
  width: 100%;
  margin: 0 auto;
}

/******* FIN MESSAGE FLASH *******/


/******* PAGINATOR *******/

#description .pagination {
  display: flex;
  justify-content: center;
}

#description .page-item {
  display: inline;
  text-align: center;
  border: rgb(0, 0, 0, 0.2) solid 1px;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: white;
  color: #e6640c;
  font-weight: 500;
}

#description .page-link:visited {
  color: #3D922B;
}

/******* FIN PAGINATOR *******/


/******* HEADER *******/

#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

/* HEADER partie 1 - logo bar */

.color-fond {
  background-color: #3D922B;
}

.navlogo {
  width: 125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo,
.logo2 {
  display: inline-flex;
  align-items: center;
}

.dessin img {
  width: 6rem;
}

.brand {
  font-family: 'Great Vibes', cursive, sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}

.color-brand1 {
  color: #171717;
}

#form {
  /* Ancienne .search */
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  padding-left: 1rem;
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

#form_query {
  /* Ancienne .search input */
  width: 35rem;
  height: 3.8rem;
  border: none;
  outline: none;
  margin: 0;
}

#form_recherche {
  /* Ancienne .btn1 */
  width: 5rem;
  height: 4rem;
  margin: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: white;
  color: #3D922B;
  cursor: pointer;
}

#form_recherche:hover {
  color: #e6640c;
}

.bonjour {
  margin-top: -2.5rem;
  color: #171717;
}

.connexion a {
  color: #171717;
}

.connexion i {
  color: #171717;
  padding: 0 0.4rem;
}

.navbar {
  color: white;
}

/* HEADER partie 2 - Navbar - menu */

.navbarResp {
  display: none
}

.fond {
  display: flex;
  background-color: white;
  height: 5rem;
  box-shadow: #464646 0 0 2rem 0;
}

.navbar .menuNav {
  width: 125rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.menu {
  color: #e6640c;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.active,
.menu:hover {
  color: #3D922B;
  border-bottom: 2px solid #3D922B;
}

/* FIN HEADER partie 2 - Navbar - menu */


/******* MAIN ********/

/* Section 1 Image */

.image {
  background-image: url("../images/Home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 36rem;
  width: 100%;
  margin-top: -1.5rem;
}

/* SECTION 2 Description - contenu */

#description {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.presentation {
  text-align: center;
  width: 99.2rem;
  margin: 0 auto 2.5rem auto;
}

.presentation .intro {
  margin-bottom: 5rem;
  margin-top: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.presentation .intro2 {
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 99.2rem;
  height: auto;
  margin: 0 auto 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#description .image-home {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
}

#description .item {
  background-color: white;
  margin-bottom: 4rem;
  border: solid 0.1rem rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  height: auto;
  margin-right: 1rem;
}

#description h3,
p {
  text-align: center;
  padding: 0 0.7rem 0.7rem 0.7rem;
}

#description h1,
h2,
h3 {
  color: #3D922B;
}

/******* PAGE RECETTES SALEES *******/

#description .detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  border-top: rgb(0, 0, 0, 0.2) 0.1rem solid;
  padding: 0 0.5rem 0 0;
}

#description .row .detail p {
  font-size: 0.8rem;
}

#description .chef {
  width: 1.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

#description .recipe {
  text-align: center;
  color: #3D922B;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}

#description .fa-eye:hover {
  color: #e6640c;
}

/* #description .detail p{
  font-size: 1rem;
} */

#description .pad {
  margin-bottom: -9rem;
}

/******* FIN PAGE RECETTES SALEES *******/

/******* PAGE RECETTE SALEE *******/

#description .box-recette,
.recette {
  margin: 0 auto;
  width: 99.2rem;
  height: 40rem;
  object-fit: cover;
}

#description .info-recette {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

#description .icon-recipe {
  margin-right: 5rem;
}

#description .box-icon {
  display: flex;
}

#description .chefe {
  margin: 0 auto;
  width: 2.5rem;
}

#description .veg {
  color: #3D922B;
}

#description .recipeInfo {
  margin-top: 2rem;
}

#description .box-preparation {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

#description .page-rsel {
  background-color: white;
  height: auto;
  border: rgb(0, 0, 0, 0.2) 0.1rem solid;
  border-radius: 5px;
}

#description .box-number {
  width: 42%;
  height: auto;
}

#description .h4-recette {
  margin-bottom: 1.5rem;
}

#description .quantite {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

#description .box-ingredients {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

#description .etapes-recette {
  width: 57%;
  height: auto;
}

#description .etapes-recette,
.box-number {
  padding: 3rem;
  word-spacing: 0.3rem;
}


#description .h2-prepa {
  padding-bottom: 1rem;
}

.btn1 {
  width: 10rem;
  margin-top: 2rem;
}

/******* FIN PAGE RECETTE SALEE *******/


/******* PAGE BOUTIQUE *******/

#description .item:hover {
  box-shadow: 0 0 1rem 0.2rem #464646;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

#description .btnshow {
  width: 90%;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6640c;
  color: #fcf8f2;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}

#description .btnshow:hover {
  background-color: #3D922B;
  color: #fcf8f2;
  transition: 1.5s;
}

#description .fa-eye:hover {
  color: #fcf8f2;
}

#description .sell h4 {
  text-align: center;
  color: #3D922B;
}

#description .sell p {
  padding-top: 1.5rem;
  font-weight: 600;
}

.imsell {
  margin: 0.5rem;
}

/******* FIN PAGE BOUTIQUE *******/


/******* PAGE PRODUIT *******/

/* #description .gap{
  gap: 5%;
} */

#description .basket {
  padding-top: 1.5rem;
  border-radius: 5px;
  border: rgb(0, 0, 0, 0.2) 0.1rem solid;
  background-color: white;
}

.card-footer p {
  margin: -1.2rem 0 -1.2rem 0;
}

.padding {
  padding-bottom: 2rem;
}

/******* FIN PAGE PRODUIT *******/


/******* PANIER*******/

.panier {
  width: 100%;
  height: auto;
  border: rgb(0, 0, 0, 0.2) 0.1rem solid;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
}

.table {
  width: 100%;
}

.cellule {
  padding-right: 12.3rem;
}

#description .border-panier {
  border-bottom: #464646 solid 0.8rem;
  width: 100%;
}

.info-panier {
  display: flex;
}

.info-panier2 {
  padding-left: 1rem;
}

.p-name,
.p-description {
  text-align: start;
  padding: 0;
}

/* .p-description{
  font-size: 1.2rem;
} */

.btn-panier {
  color: red;
}

.btn-valider,
#cate-form .btn-valider {
  background-color: #3D922B;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fcf8f2;
  box-shadow: none;
  border: none;
}

.btn-vali {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.imageProductCart {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.panShop {
  color: #e6640c;
  font-weight: 600;
}

.p-panier {
  color: #464646;
  font-weight: 500;
  margin-left: -1rem;
}

.recapPanier {
  margin-top: -4rem;
  margin-bottom: 5rem;
}

.smart {
  width: 100%;
}

.InfoComm {
  text-align: center;


}

.info-commande {
  width: 100%;
  padding-left: 2.2rem;
  line-height: 4rem;
}

#description .btnComResp {
  width: 100%;
  margin-bottom: 2rem;
  height: 1.8rem;
}

/******* FIN PANIER*******/


/**** DETAIL COMMANDE *******/

#description .text-success {
  color: #3D922B;
}

#description .text-secondary {
  color: red;
}

.recaP {
  background-color: white;
}

/******* Thank you page *******/

/* .tkpage{
  height:50rem;
} */

/******* PAGE DE CONNEXION (login) *******/

.login {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 9rem 6rem 9rem 6rem;
}

.h3 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
}

.compte {
  background-color: #e6640c;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 5rem;
  padding: 1.5rem;
}

.compte:hover {
  background-color: #3D922B;
  transition: 1.5s;
}

.bt-delete-compte {
  border: none;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 10%;

}

#login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mess-login {
  margin-bottom: 0.5rem;
  color: red;
}

.logout {
  background-color: #3D922B;
  color: #fcf8f2;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.2rem;
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
  height: 4rem;
  outline: none;
}

.verte {
  margin-bottom: 1rem;
}

#login-form label {
  font-weight: bold;
}

#login-form .verte {
  color: #3D922B;
}

.btn-login {
  width: 102%;
  text-transform: uppercase;
  border: none;
  background-color: #3D922B;
  color: white;
  border-radius: 5px;
  padding: 1.5rem;
}

/* .cxfbook {
  background:  #3B5998;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1.3rem;
}

.facebook i {
  font-size: 2.2rem;
}

.cxgoogle {
  background:  white;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 0.1rem solid #464646;
  margin-bottom: 1rem;
  padding: 0.8rem;
  display:inline-flex;
  align-items: center;
  justify-content: center;
}

.google {
width: 3rem;
height:3rem;
padding: 0;
 background: white;
} */

/******* PAGE D'INSCRIPTION (create) *******/

.lien-login {
  color: #3D922B;
}

/* .inscription, .titre {
  font-size: 1.3rem; 
} */

.titre {
  text-align: start;
  padding: 0;
  font-weight: 500;
}

.espace {
  margin-right: 3rem;
}

.create {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.create label {
  font-weight: bold;
}

.CGV {
  color: #3D922B;
}

/******* FIN PAGE D'INSCRIPTION (create) *******/


/****** PAGE MON COMPTE ******/

.pageCompte {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 20rem;
  border: rgb(0, 0, 0, 0.2) 0.1rem solid;
  border-radius: 0 0 5px 5px;
  background-color: white;
}

.couverture {
  max-height: 25rem;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
}

.couverture img {
  width: 100%;
  object-fit: cover;
}

.avatarProfile {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 3;
  top: -10rem;
  left: 3rem;
  border: 0.3rem solid white;
}

.infoUser {
  margin: -2rem 0 4rem 0;
}

.infoUser p {
  text-align: left;
  padding-left: 3rem;
}

.navCompte {
  background-color: rgb(61, 146, 43, 0.2);
  position: relative;
  top: -15rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 6rem;
  color: #464646;
  font-weight: bold;
  gap: 10%;
}

.navCompte a:hover {
  color: #e6640c;
  font-weight: bold;
}

/****** FIN PAGE MON COMPTE ******/


/******* PAGE ADMIN *******/

/******* NAVBAR *******/

.navAdmin {
  background-color: #464646;
  color: #fcf8f2;
  margin-bottom: 2rem;
}

.nav-admin {
  width: 100%;
  height: 7rem;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464646;
  color: #fcf8f2;
  position: fixed;
  top: 0;
  z-index: 100;
}

.menu-admin:hover {
  color: #3D922B;
  border-bottom: 0.3rem solid #3D922B;
}

.mtop {
  margin-top: 7rem;
}

/******* CATEGORIES INDEX *******/

.h4-cat {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.image-sell {
  height: 30rem;
  object-fit: cover;
}

.btn-admin {
  display: flex;
  justify-content: space-around;
}

.btn-category {
  width: 90%;
  height: 3rem;
  text-align: center;
  border: none;
  background-color: #3D922B;
  color: #fcf8f2;
  border-radius: 5px;
  margin: 1rem;
  padding-top: 0.5rem;
}

.btn-restart {
  font-weight: 500;
  color: #171717;
  margin-left: 2rem;
}

/******* CATEGORIES NEW *******/

.adminForm {
  margin-bottom: 5rem;
}

.form-cate {
  width: 99.2rem;
  height: auto;
  border: #464646 0.1rem solid;
  border-radius: 4px;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-cat {
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

.btn-form {
  width: 10rem;
  height: 3rem;
  background-color: #3D922B;
  color: #fcf8f2;
  border-radius: 4px;
  border: none;
  margin-top: 1.6rem;
  padding: 0.5rem;
}

.bt {
  background-color: red;
}

.btnAdmShowRe {
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
}

.retour,
.return {
  display: flex;
  /* justify-content: flex-end; */
  color: #fcf8f2;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.retour a,
.return a {
  background-color: #464646;
  border-radius: 4px;
  padding: 0.5rem;
}

.return a {
  background-color:#3D922B;
}

.h1catadmin {
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

#cate-form label,
.form-cate label {
  font-weight: bold;
}

.ajoutRecipe {
  margin-top: 1rem;
}

#cate-form input {
  margin-top: 0.5rem;
}

/******** Admin Recipe/Show ********/

.d-recipe {
  margin-top: 6rem;
}

/*** Product index ***/

.dscpt {
  word-spacing: normal;
  margin-top: -2rem;
  font-weight: bold;
}

/******* FIN PAGE ADIMIN *******/


/******* FOOTER *******/

#footer {

  width: 100%;
  bottom: 0;
  background-color: rgb(61, 146, 43, 0.2);
}

.fp1 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  width: 125rem;
}

.color-brand1 {
  color: #242424;
}

.fp1 p {
  font-weight: 500;
  color: #e6640c;
  margin-left: 11rem;
}

.icons-footer .rotate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 0.2rem #464646 solid;
  border-radius: 50%;
  color: #464646;
  margin: 0 1rem 0 1.5rem;
}

.rotate:hover {
  transform: rotate(360deg);
  transition: 0.6s;
  border: none;
}

.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
}

.facebook-f:hover {
  background: #3B5998;
  color: white;
}

.youtube:hover {
  background: white;
  color: #bb0000;
}

.envelope:hover {
  background: #0088CC;
  color: white;
}

.fp2 {
  color: #464646;
  gap: 3%;
  width: 125rem;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 6rem;
  font-size: 1.44rem;
  font-weight: 400;
}

.col-4 h3 {
  margin-bottom: 2rem;
  color: #464646;
}

.col-4 ul li {
  margin-bottom: 1rem;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 2.9rem;
  border-radius: 5px;
}

/* .newsletter input{
  border: none;
  outline: none;
} */

/* .newsletter i{
  margin: 5px;
} */

/* .newsletter .news{
  border: none;
  border-radius: 0 5px 5px 0;
  width:3.2rem;
  height: 2.9rem;
} */

/* .list-square {
  font-size: 1.4rem;
} */

/* .manger{
font-size: 1.4rem;
} */

.manger img {
  margin-left: -0.4rem;
  margin-bottom: -0.8rem;
  margin-top: -0.3rem;
}

.mt {
  margin-top: -3rem;
}

/****** Pages Documents Légaux *******/

.marge p {
  text-align: justify;
  line-height: 30px;
}

.effect:hover {
  color: #e6640c;
}

#scroll_to_top {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 1.5rem;
  right: 3rem;
  color: #e6640c;
}

.foot .copyright {
  text-align: center;
  margin-top: 1.6rem;
  color: #464646;
}

/******* Système de colonne desktop: *******/

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* ************************************ */

/*******************************************RESPONSIVE TABLETTE**********************************************/

@media screen and (min-width: 769px) and (max-width:1024px) {

  body {
    margin: 0;
    width: 100%;
  }

  main {
    width: 100%;
  }

  #header {
    width: 100%;
    position: absolute;
  }

  .container {
    width: 100%;
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  .connexion i,
  .menu {
    font-size: 1.3rem;
  }

  .logo {
    width: 35%;
    display: flex;
    align-items: center;
  }

  .dessin img {
    width: 4.5rem;
  }

  .brand {
    font-size: 2.5rem;
  }

  #form {
    width: 26rem;
    margin-right: 2rem;
  }

  #form_query {
    width: 21rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  #form_recherche {
    font-size: 1.5rem;
  }

  #form,
  #form_recherche {
    height: 2.5rem;
  }

  .connexion a {
    font-size: 0.8rem;
    text-align: center;
  }

  .connexion i {
    padding: 0 0.5rem;
  }

  .bonjour {
    font-size: 0.9rem;
    margin-top: -2.5rem;
  }

  .fond {
    height: 3rem;
  }

  .retour {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .image {
    height: 20rem;
    margin-top: -6rem;
  }

  #description {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .presentation {
    width: 100%;
    text-align: center;
    margin: 0 auto 2.5rem auto;
  }

  .row {
    width: 100%;
  }

  .mtop {
    margin-top: 10rem;
  }

  #description .text-format p,
  ol,
  td {
    text-align: justify;
  }

  #footer .fp1 .reseaux {
    margin: 0 0 1rem 0;
  }

  .login {
    width: 100%;
  }

  #description .box-recette,
  .recette {
    width: 100%;
    margin-top: -6rem;
    height: 30rem;
  }

  .condi-user {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: -3rem;
      margin-right: -3rem; */
  }

  #description .box-recette,
  .admRecette {
    margin-top: 0;
  }

  .panier,
  .recaP {
    width: 90%;
  }

  .pageCompte {
    margin-top: -2rem;
  }

  /**** ADMIN ****/

  .nav-admin {
    position: fixed;
    font-size: 1.4rem;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .form-cate {
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .couverture img {
    width: 100%;
    object-fit: cover;
  }

  .navCompte {
    gap: 7%;
  }
}

/******* RESPONSIVE SMARTPHONE *******/
@media screen and (max-width: 380px) {
  .brand {
    font-size: 120%;
  }
}

@media screen and (max-width: 768px) {

  body {
    margin: 0;
    max-width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  #header {
    position: absolute;
  }

  #main {
    max-width: 100%;
    margin-bottom: -3rem;
  }

  .container {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .color-fond {
    display: flex;
    align-items: center;
    height: 12rem;
  }


  .messages,
  .panier {
    font-size: 1.2rem;
  }

  .btn-panier,
  .btnComResp {
    font-size: 1rem;
  }

  .btn1 {
    display: inline-flex;
    justify-content: center;
    gap: 50%;
    margin-top: -3rem;
    margin-bottom: 2rem;
  }

  .btn-form {
    width: 10rem;
  }

  .projet {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    margin-top: -2rem;

  }

  .td-panier,
  .info-commande {
    font-size: 1.2rem;
  }

  .logo,
  .gestionAdm,
  .info-recette h1,
  .chefe {
    font-size: 2rem;
  }

  /******* Image logo *******/

  .logo2 {
    text-align: center;
  }

  .dessin img,
  .brand {
    display: flex;
    align-items: center;
  }

  .dessin img {
    width: 5rem;
  }

  .brand {
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    letter-spacing: 0.1rem;
  }

  .brand .white {
    color: #fcf8f2;

  }

  .connexion {
    display: none;
  }

  .pagination {
    padding-bottom: 3rem;
  }


  /*////////// BAR DE MENU RESPONSIVE /////////*/
  .menu:hover {
    border-bottom: none;
  }

  .navbarResp {
    opacity: 0.95;
    display: block;
    margin-top: -16rem;
    margin-left: -2.5rem;
    padding-top: 2.5rem;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    width: 100%;
    display: block;
    /* position: relative; */
    height: 6.4rem;
    padding-top: -2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 3.2rem;
    width: 3rem;
    top: 1.3rem;
    left: 2.2rem;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 2.3rem;
    width: 3.5rem;
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 0.4rem;
    width: 100%;
    border-radius: 1rem;
    background: #fcf8f2;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbarResp .ul1 {
    padding-top: 10rem;
    background: #171717;
    height: 100vh;
    max-width: 30rem;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -3.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0.5rem 0 1rem 0 #aaa;
    margin-top: -1.5rem;
  }

  .navbarResp .ul1-admin {
    margin-top: -10rem;
    max-width: 25rem;
  }

  .navbarResp .ul1 li {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .logo,
  .gestionAdm {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .gestionAdm {
    margin-top: 1.4rem;
  }

  .navbar-container input[type="checkbox"]:checked~.ul1 {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .menu {
    color: #3D922B;
  }

  .fond {
    display: none;
  }

  /******* MESSAGE FLASH *******/

  /* .messages{
  font-size: 1.2rem;
} */

  /********NAVBAR ADMIN**********/

  #header-admin {
    width: 100%;
    margin-bottom: -7rem;
  }

  .navAdmin {
    height: 14rem;
  }

  .menuAdm {
    color: #fcf8f2;
  }

  .nav-admin {
    display: none;
  }

  .navbarResp {
    display: flex;
    align-items: center;
  }

  .navADM {
    height: 11rem;
    margin: 0 auto;
    margin-top: -3rem;

  }

  .se-connecter {
    color: #fcf8f2;
  }

  .se-connecter i {
    margin-right: 0.5rem;
  }

  /******** FIN NAVBAR ADMIN**********/

  /*///////////*/

  .navbar .menuNav {
    display: none;
  }

  form {
    width: 100%;
  }

  #form {
    width: 100%;
    margin-top: 6rem;
    height: 3rem;
    background-color: white;
  }

  #form_query {
    width: 100%;
    height: 2.8rem;
    margin-right: 4.5rem;
  }

  #form_recherche {
    width: 100%;
  }

  #form,
  #form_recherche {
    height: 3rem;
  }

  /******* PAGE D'ACCUEIL *******/

  /******* MAIN ********/

  /* SECTION 1 IMAGE */

  .image {
    width: 100%;
    height: 10rem;
    margin-top: -4.5rem;
  }

  /* SECTION 2 DESCRIPTION */

  #description {
    padding: 1rem 1.5rem 0 1.5rem;
    margin-bottom: -3rem;
  }

  .presentation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .presentation .title {
    margin-bottom: 1.5rem;
  }

  .presentation .intro {
    margin-bottom: 1rem;
  }

  .row {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
  }

  .first {
    width: 100%;
  }

  .image-home {
    min-width: 100%;
    object-fit: contain;
    margin-right: 6rem;
  }

  #description .item {
    width: 100%;
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .end {
    width: 100%;
    margin-top: -3rem;
  }

  .para {
    margin-bottom: 7rem;
  }

  /* FIN SECTION 2 DESCRIPTION */

  /******* PAGE RECETTE SUCREE *******/

  /******* PAGE RECETTE SALéE/SUCREE ONE *******/

  #description .retour {
    margin-right: -26.8rem;
  }

  #description .box-recette,
  .recette {
    height: 20rem;
    object-fit: cover;
  }

  #description .info-recette {
    width: 100%;
  }

  #description .box-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -3.2rem;
    margin-right: -3.2rem;
    margin-top: 0.5rem
  }

  #description .box-icon .chefe {
    width: 2rem;
  }

  #description .box-preparation {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  #description .page-rsel {
    width: 100%;
    margin: 0 auto;
  }

  #description .text-format {
    width: 100%;
  }

  #description .text-format p,
  ol,
  td,
  table {
    text-align: justify;
  }

  .condi-user {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: -3rem;
      margin-right: -3rem; */
  }

  .login-recette {
    margin: 10px 0;
  }

  /*******Responsive page boutique *******/

  #description .sell {
    width: 100%;
  }

  /*******Responsive page produit *******/

  #description .pdct {
    width: 100%;
    margin-bottom: 1rem;
  }

  #description .gap {
    margin-bottom: 4rem;
  }

  .image-sell {
    width: 100%;
    object-fit: cover;
  }

  /*******Responsive PANIER *******/

  .alert-success {
    width: 100%;
  }

  #description .alertPanier {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: -2.5rem;
  }

  #description .panier {
    width: 100%;
    margin-bottom: 7.5rem;
  }

  #description .border-panier {
    margin: 0 auto;
  }

  .cellule {
    padding-right: 7.6rem;
  }

  .cell {
    padding-right: 0;
  }

  .lignes {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
  }

  .p-name,
  .p-description {
    font-size: 1rem;
  }

  .info-panier2 {
    width: 8rem;
  }

  /****** MES COMMANDES RESPONSIVE *******/

  #description .info-commande {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2.2rem;
    align-items: center;
    margin-right: 10rem;
    flex-wrap: wrap;
  }

  #description .btnComResp {
    width: 100%;
    height: 1.8rem;
  }

  .COM {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /****** MES COMMANDES RESPONSIVE *******/

  .btn-panier {
    color: red;
  }

  .QTY {
    margin-left: 2rem;
    margin-right: 4.5rem;
  }

  .sous-total {
    padding-left: 23rem;
  }

  tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /******* FIN Responsive PANIER *******/


  /******* RECAPITULATIF Responsive *******/

  .recapPanier,
  .recaP {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin: 0 auto;
  }

  .recapPanier {
    position: relative;
    margin-bottom: 4rem;
    margin-top: -5rem;
  }

  /******* FIN RECAPITULATIF Responsive *******/


  /******* MES COMMANDES Responsive *******/

  #description .borderCom {
    width: 100%;
    margin-left: 0;
  }

  /******* PAGE DE CONNEXION (login) *******/

  .login {
    width: 100%;
    padding: 5rem 1.5rem 5rem 1.5rem;
  }

  /*******Responsive page compte *******/

  .pageCompte {
    margin-top: 0;
    margin-right: 1rem;
  }

  .couverture img {
    width: 100%;
    max-height: 18rem;
    object-fit: cover;

  }

  .avatarProfile {
    height: 10rem;
    width: 10rem;
    top: -10rem;
    left: 1rem;
  }

  .navCompte {
    width: 100%;
    margin-top: 5rem;
    margin-right: 0;
  }

  .navCompte a {
    font-size: 1.3rem;
    margin-right: -1rem;
    font-weight: bold;
    gap: 0;
    text-align: center;
  }

  .navCompte button {
    font-size: 0.9rem;
  }

  .infoUser {
    margin-top: -7rem;
  }

  .form-delete-profile {
    width: 7rem;
    height: 3rem;
    margin-right: -5.5rem;
  }

  /*******Fin Responsive page compte *******/

  /* FOOTER */

  #footer .fp1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 8rem; */
  }

  #footer .fp1 .reseaux {
    margin: 1.6rem 0 1rem 0;
  }

  .icons-footer .rotate {
    color: white;
    border: none;
  }

  .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
  }

  .facebook-f {
    background: #3B5998;
    color: white;
  }

  .youtube {
    background: #bb0000;
    color: white;
  }

  .envelope {
    background: #0088CC;
    color: white;
  }

  footer .container .col-4 {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer .container .mt {
    margin-top: 0.1rem;
  }

  footer .container .mb {
    margin-bottom: 2rem;
  }

  .foot p {
    padding-left: 1.5rem;
    padding-right: 1rem;
  }

  /******* FIN FOOTER *******/

  /******* PAGE ADMIN *******/

  .menu-admin {
    display: none;
  }

  .adminForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    margin-bottom: 0;
    margin-top: -20rem;
  }

  .h1catadmin {
    font-size: 2.5rem;
    margin-top: 1.6rem;
  }

  #cate-form input {
    width: 98%;
  }

  .smart {
    width: 100%;
  }

  /******* FIN PAGE ADMIN *******/
}