{% extends 'customer/base.html.twig' %}

{% block body %}

<main id="main" class="tkpage">
    <section id="description" class="tkpage">
    <h3>Merci, {{app.user.firstName}}, pour votre commande. À bientôt !</h3>
    </section> 
</main>

{% endblock %}