<form method="post" action="{{ path('admin_recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Vous êtes sûr de bien vouloir supprimer cette recette?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn-form bt">Supprimer</button>
</form>
