 {% extends "customer/base.html.twig" %}

{% block title %}Hello NutritionTipsController!{% endblock %}

{% block body %} 

        <main id="main" class="pageOff">
         <section id="description">
            <h3>Bientôt...</h3>
        </section> 
        </main>   

{% endblock %}