{% extends 'customer/base.html.twig' %}


{% block body %}

<main id="main" class="tkpage">
    <section id="description">
        <div class="accueil">
            <div class="presentation marge">
                <h1 class="h4-recette">Qui Sommes Nous ?</h1>
                    <p>Je m'appelle Sandrine, je suis masseur kinésitherapeute et maman de deux enfants. 
                    Je suis convaincue que le fait maison est l'ingrédient de base pour préserver au mieux sa santé. 
                    Mon objectif est de vous donner envie de vous mettre aux fourneaux en vous proposant des idées de 
                    recettes simples, saines, rapides et sans prétention mais avec un maximum de saveurs ! 
                    Alors, prêts à aller en cuisine ?</p>

                    {# Sa vision et sa mission #}
                    <p>Le but du projet est de partager des recettes variées, saines et simples pour un 
                    public amateur dans le domaine de la cuisine. Le projet propose des recettes faciles 
                    à mettre en place pour pouvoir répondre à l’éternelle question « qu’est-ce qu’on mange ? ». 
                    Parallèlement, en plus des recettes, le site montre aussi des astuces de cuisine pour 
                    le quotidien et des conseils de nutrition. En mettant de la couleur et de nombreuses 
                    saveurs dans les assiettes et les papilles. La finalité majeure du projet est de montrer 
                    au public que c’est possible de se mettre au fait maison avec des ingrédients ordinaires et 
                    sans avoir besoin de beaucoup de connaissances culinaires, pour que le temps passé en cuisine 
                    devienne un plaisir et pas une corvée.</p> 

                    <p> Les utilisateurs souhaitent trouver des idées de recettes qui contribuent à avoir une bonne 
                    santé à travers une bonne pratique alimentaire. Ils recherchent des recettes simples et rapides, 
                    nutritionnellement riche qui leur offrent du gain au niveau de la santé. Les usagers veulent 
                    trouver des recettes qui sont exécutables assez facilement avec des ingrédients communs présents 
                    dans leur cuisine ou acheté facilement en grande surface. Ils cherchent une alimentation équilibrée 
                    et essayent de se mettre au « fait maison ». Pour combler ce besoin, le site propose plusieurs 
                    types de recettes saines et faciles ainsi comme des astuces cuisine et des conseils nutritionnels.</p>

                    {# L'histoire du projet #}
                    <p> L’idée de créer un site web de recettes simples et faciles vient du fait que ma femme est passionnée 
                    par la cuisine et a à cœur de faire manger notre famille de façon équilibrée, saine et variée. 
                    Elle adore adapter et revisiter des recettes afin de découvrir de nouvelles saveurs. 
                    La création de nouvelles recettes est la partie qui lui confère le plus de plaisir. 
                    En réfléchissant à comment cataloguer ses créations culinaires et comment lui permettre de 
                    les partager j’ai décidé de la réalisation de ce projet. Ma femme l’a baptisé « Joie des Papilles ».</p>

            </div>        
        </div>        
    </section> 
</main>

{% endblock %}




