{% extends "admin/base_admin.html.twig" %}

{% block body %} 

    <main id="main">
        <section id="description">
            <h1>Bienvenue à l'administration.</h1>
        </section> 
    </main>   

{% endblock %}

