{% extends 'customer/base.html.twig' %}

{% block body %}

    <main id="main">
        <section class="login col-6">

            <h1 class="h3">Changer de mot de passe</h1>

            

            <div id="login-form">

                <div class="create">

                    {{ form_start(form) }}
                        {{ form_row(form.plainPassword) }}
                        <button type="submit" class="btn-form">Modifier</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>
    
{% endblock %}