<p>Bonjour, {{(user.FirstName)}} ! <br>
<br>
Nous avons reçu une demande de <strong>modification du mot de passe</strong> de votre compte. <br>
Si vous avez demandé la <strong>modification de votre mot de passe</strong>, il vous suffit de cliquer sur le lien suivant : <br>
<br>
<a href={{ url('app_password_lost_modification',{'token': user.getTokenPasswordLost()}) }}>Modifier votre mot de passe</a> <br>
<br>
Si vous n’avez pas fait cette demande, ignorez ce message et votre <strong>mot de passe</strong> ne sera pas modifié. <br>
<br>
Bien cordialement <br>
Joie des Papilles
</p>
